.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    font-family: "MinionPro";
    font-size: 15px;
    margin-bottom: $half-spacing-unit;
    color: $light-grey;
    padding-left: $half-spacing-unit;
    position: relative;

    &:before {
      content: "-";
      position: absolute;
      left: 0;
    }
  }
}
