$white: #ffffff;
$black: #000000;
$sand: #eab96a;
$gunmetal: #485260;
$greyish: #adadad;
$pinkish-grey: #c6c6c6;
$white-grey: #dddddd;
$warm-grey: #939393;
$light-grey: #485260;
$dark-yellow-green: #6a9c00;
$red: #c20000;
$french-blue: #4267b2;



$body-bg: $white;
$color-text-body: $black;
